[submodule "PTStemmer-Java"]
	path = PTStemmer-Java
	url = https://github.com/digitalinteraction/PTStemmer-Java
	branch = master
[submodule "infiauto"]
	path = infiauto
	url = https://github.com/digitalinteraction/infiauto
	branch = master
[submodule "pairwise-association-rules"]
	path = pairwise-association-rules
	url = git@github.com:digitalinteraction/pairwise-association-rules.git
[submodule "api-shared"]
	path = api-shared
	url = https://github.com/intake24/api-shared
	branch = master
[submodule "api-client"]
	path = api-client
	url = https://github.com/intake24/api-client
	branch = master
