@(userName: Option[String], passwordResetUrl: String, urlExpirationTimeHours: Int)

@EmailBase("Intake 24 password reset") {
    <p style="font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px;">
    @{
        userName match {
            case Some(name) => s"Hello $name!"
            case None => "Hello,"
        }
    }
    </p>
    <p style="font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px;">
        Someone has requested your Intake24 password to be reset.
    </p>
    <p style="font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px;">
        If this was intended, please click the button below to create a new password. If this wasn't you, please ignore
        this message.
    </p>
    @ActionButton(passwordResetUrl, "Reset password")
    <p style="font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px;">
        Please note that the link above will expire in @urlExpirationTimeHours hours.</p>
    <p style="font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        Margin-bottom: 15px;">
        Have a nice day :)
        <br>
        Intake24
    </p>
}