logs
project/project
project/target
project/.sbtserver
project/.sbtserver.lock
target
tmp
.cache
.history
dist
/.idea
/*.iml
/out
/bin
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.sbtserver
/bin/
/conf/logback.xml
/conf/application.conf
/conf/ehcache.xml
/conf/application-test.conf
