<?xml version="1.0" encoding="UTF-8"?>
<!--
This file is part of Intake24.

Copyright 2015, 2016 Newcastle University.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

This file is based on Intake24 v1.0.

© Crown copyright, 2012, 2013, 2014

Licensed under the Open Government Licence 3.0: 

http://www.nationalarchives.gov.uk/doc/open-government-licence/
-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>net.scran24.user.server.services.InitListener</listener-class>
	</listener>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Intake24 deployment-specific configuration -->

	<context-param>
		<param-name>image-url-base</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>thumbnail-url-base</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>data-path</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>datastore-implementation</param-name>
		<param-value>net.scran24.datastore.mongodb.MongoDbDataStore</param-value>
	</context-param>

	<context-param>
		<param-name>net.scran24.datastore.mongodb.MongoDbDataStore.host</param-name>
		<param-value>localhost</param-value>
	</context-param>

	<context-param>
		<param-name>net.scran24.datastore.mongodb.MongoDbDataStore.port</param-name>
		<param-value>27017</param-value>
	</context-param>

	<context-param>
		<param-name>net.scran24.datastore.mongodb.MongoDbDataStore.dbName</param-name>
		<param-value>intake24</param-value>
	</context-param>

	<!-- E-mail notifications -->

	<context-param>
		<param-name>smtpHostName</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>smtpPort</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>smtpUserName</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>smtpPassword</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>emailNotificationFromAddress</param-name>
		<param-value>support@intake24.co.uk</param-value>
	</context-param>

	<context-param>
		<param-name>emailNotificationFromName</param-name>
		<param-value>Intake24</param-value>
	</context-param>

	<!-- SMS notifications -->

	<context-param>
		<param-name>smsNotificationFromNumber</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>twilioAccountSid</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>twilioAuthToken</param-name>
		<param-value></param-value>
	</context-param>


	<!-- these are not currently used because the better way of ensuring MongoDB 
		security is to restrict it to accept trusted connections only, e.g. from 
		localhost -->

	<context-param>
		<param-name>mongodb-username</param-name>
		<param-value>scran24</param-value>
	</context-param>

	<context-param>
		<param-name>mongodb-password</param-name>
		<param-value>scran24</param-value>
	</context-param>

	<!-- end of deployment-specific configuration -->


	<!-- Intake24 debug configuration -->

	<context-param>
		<param-name>crash-on-food-lookup</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-root-categories</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-browse-category</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-portion-size-method</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-split</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-as-served-def</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-guide-def</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-drinkware-def</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-food-prompts</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-brand-names</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>crash-on-get-food-data</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- end of debug configuration -->


	<servlet>
		<servlet-name>foodLookup</servlet-name>
		<servlet-class>net.scran24.user.server.services.FoodLookupServiceImpl</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>foodLookup</servlet-name>
		<url-pattern>/user/foodLookup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>processSurvey</servlet-name>
		<servlet-class>net.scran24.user.server.services.SurveyProcessingServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>processSurvey</servlet-name>
		<url-pattern>/user/processSurvey</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>submitUserData</servlet-name>
		<servlet-class>net.scran24.user.server.services.UserDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>submitUserData</servlet-name>
		<url-pattern>/user/submitUserData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helpRequest</servlet-name>
		<servlet-class>net.scran24.user.server.services.HelpServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>helpRequest</servlet-name>
		<url-pattern>/user/helpRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>imageMap</servlet-name>
		<servlet-class>org.workcraft.gwt.imagemap.server.ImageMapServiceImpl</servlet-class>
		<init-param>
			<param-name>overlay-url-base</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>definition-path</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>imageMap</servlet-name>
		<url-pattern>/user/imageMap</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>helpRequest</servlet-name>
		<servlet-class>net.scran24.user.server.services.HelpServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>helpRequest</servlet-name>
		<url-pattern>/user/helpRequest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>downloadData</servlet-name>
		<servlet-class>net.scran24.staff.server.services.DownloadSurveyDataService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>downloadData</servlet-name>
		<url-pattern>/staff/downloadData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>downloadMissingFoods</servlet-name>
		<servlet-class>net.scran24.admin.server.services.DownloadMissingFoodsService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>downloadMissingFoods</servlet-name>
		<url-pattern>/admin/downloadMissingFoods</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>downloadActivity</servlet-name>
		<servlet-class>net.scran24.staff.server.services.DownloadActivityReportService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>downloadActivity</servlet-name>
		<url-pattern>/staff/downloadActivity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadUserInfo</servlet-name>
		<servlet-class>net.scran24.staff.server.services.UploadUserInfoService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadUserInfo</servlet-name>
		<url-pattern>/staff/uploadUserInfo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>downloadMissingFoods</servlet-name>
		<url-pattern>/staff/downloadMissingFoods</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>surveyManagement</servlet-name>
		<servlet-class>net.scran24.admin.server.services.SurveyManagementServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>surveyManagement</servlet-name>
		<url-pattern>/admin/surveyManagement</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>surveyControl</servlet-name>
		<servlet-class>net.scran24.staff.server.services.SurveyControlServiceImpl</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>surveyControl</servlet-name>
		<url-pattern>/staff/surveyControl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>net.scran24.common.server.auth.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/common/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>net.scran24.common.server.auth.LogoutService</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/common/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>genUser</servlet-name>
		<servlet-class>net.scran24.frontpage.server.services.GenUserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>genUser</servlet-name>
		<url-pattern>/frontpage/genUser</url-pattern>
	</servlet-mapping>
</web-app>
